Осуществим подключение к бд

In [2]:
%load_ext sql
%sql sqlite:///lab_2.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@lab_2.db'

In [ ]:
Создадим таблицу студентов, групп, городов и факультетов

In [3]:
%%sql 
drop table if exists Students;

CREATE TABLE Students 
(
    student_id integer primary key, 
    Name varchar(50),
    SecondName varchar(50), 
    Faculty_id integer,
    city_id integer,
    group_id integer
    GPA number
);

drop table if exists Faculties;
CREATE TABLE Faculties
(
id integer primary key,
name varchar(50)
);

drop table if exists Groups; 
Create table Groups
(
id integer primary key,
name varchar(50)
);

drop table if exists Cities; 
Create table Cities
(
id integer primary key,
name varchar(50)
);

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Задание 1 
Перепишите создание таблиц с учетом наличия внешних ключей

## Задание 2
Осуществить вставку во все таблицы с учетом правил на внешние ключи

## Задание 3
Вывести Имя Студента, Название его факультета, группы и города проживания

## Задание 4
Вывести имена всех студентов, обучающихся на факультет IT из Воронежа.

## Задание 5
Для всевозможных пар (Факультет, Город) вывести количество студентов, соответствующее данной группе

## Задание 6 
Для всех групп вывести средний балл по группе для студентов, не проживающих в Москве, при условии, что количество таких студентов не менее 3